@using MODEL;
@{
    if (Session["UserLevel"].ToString() != "2")
    {
        Response.Redirect("/Home/Index");
    }
    var db = new FaturaEntities();
}
<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="p-5">
                        <div class="form-group m-b-0">
                            <div class="col-sm-12 text-center text-success">
                                <span id="spnSuccess"></span>
                            </div> <div class="col-sm-12 text-center text-danger">
                                <span id="spnDanger"></span>
                            </div>
                        </div>
                        <form class="user">
                            <div class="form-group row">
                                <div class="col-sm-12 mb-12 mb-sm-0">
                                    <label for="name">Departman Adı</label>
                                    <input type="text" class="form-control form-control-user" id="name" name="name" placeholder="Departman Adı">
                                </div>
                            </div>
                            <button type="button" onclick="AddDepartment();" class="btn btn-primary btn-user btn-block">
                               Departman Ekle
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/Scripts/jquery-3.3.1.min.js"></script>
<script>
    function AddDepartment() {

        $.ajax({
            type: "POST",
            contentType: "application/json; charset=utf-8",
            url: "/Api/Departman_Api/AddNew",
            data: JSON.stringify({
                departmenName: $("#name").val()
            }),
            dataType: "json",
            success: function (yanit) {
                if (yanit.status == 1) {
                    $('#spnSuccess').html(yanit.statusText);
                    $("#name").val('');
                }
            },
            error: function (Result) {
                $('#spnDanger').html(yanit.statusText);
            }
        });
    }

</script>


